<!DOCTYPE html>
<html>
<head>
  <title><%= json.project.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
 <%= t.include("partials/_adHead.html") %>
</head>
<body>

<responsive-child class="container">

<div class="trash-type">
  <img src="assets/compost-icon.jpg">
  <h4>Compost</h4>
  <p>This includes food — <strong>all food, even shells, bones and pits.</strong> It also includes paper and cardboard that’s soiled with food, like paper towels and pizza boxes. However, if the paper or cardboard has a shiny coating, it cannot be composted. Those materials can be recycled if clean; otherwise, they’re garbage.</p><p>Some containers, like certain meat trays and takeout containers, are compostable. You can spot them by their tan or beige color. Other takeout items, distributed by the Cedar Grove compost facility, have brown stripes and Cedar Grove’s logo — these are also compostable.</p>
</div>

<div class="trash-type">
  <div class="center">
    <img class="center" src="assets/recycle-icon.jpg">
    <h4>Recycle</h4>
    <p>Keep it <strong>simple and clean.</strong> Only materials in their purest state can be recycled. Cardboard, paper, hard plastics and aluminum foil are recyclable materials, but they have to be <strong>clean and dry.</strong></p><p>One more thing: the items can’t be tiny; plastic and metal lids, for example, have to be at least 3 inches wide (this counts out bottle caps). Also on the recycle list: newspaper bags, dry cleaning bags, shrink wrap, Bubble Wrap and grocery bags (but not produce bags). These must clean and stuffed together — single plastic bags get caught in machines at the recycling facility.</p><p>You might notice some items are marked with the triangular recycle symbol — <strong>ignore this</strong>, at least in Seattle. That denotes only the kind of plastic resin used in the item, not whether the item is recyclable.</p>
  </div>
</div>

<div class="trash-type">
  <img src="assets/garbage-icon.jpg">
  <h4>Garbage</h4>
    <p>Everything that doesn’t fit the rules for recycling or compost goes in the garbage, and you probably have more garbage than you think.</p><p>A common trash material is <strong>soft plastic</strong>, used in candy bar wrappers and Ziploc bags. The only soft plastics that can be recycled are newspaper bags, dry cleaning bags, shrink wrap, Bubble Wrap and grocery bags (but not produce bags). These all have to be clean and stuffed together — single plastic bags get caught in machines at the recycling facility. Another trash plastic is blister packaging — the hard-to-open plastic used for electronics and pills.</p><p>Other trash items are orange prescription pill bottles, corks and any thin paper such as tissue paper.</p>
</div>

<div class="clearing"></div>

<h3>Still confused? OK, one thing at a time</h3>
  <p>Here’s a list of items readers asked about and where they go. Have a question about something not on this list? Ask us in <a href="http://www.seattletimes.com/seattle-news/what-do-i-do-with-a-guide-to-trash-sorting-in-seattle/#comments">the comments</a>, or use the city’s <a href="http://www.seattle.gov/util/MyServices/LookItUpWhatsAccepted/index.htm">look-up tool</a>.</p>

<h4>Takeout containers</h4>
  <p>This depends on the material of the container, and whether it’s clean or dirty. Cardboard and other paper-based packaging typically break down in compost, but they won’t if they’re covered with a shiny coating. If a container has a shiny coating and is clean (not soiled or soaked through with grease or other food) you can recycle it. Otherwise, it’s garbage. Styrofoam is always garbage. So:</p>

<div class="takeout">
  <img src="assets/pizza.jpg">
  <p>Not shiny, and dirty: <span class="green">compost</span></p>
</div>

<div class="takeout">
 <img src="assets/takeout.jpg">
  <p>Shiny and dirty: <span class="orange">garbage</span></p>
</div>

<div class="clearing"></div>

<div class="takeout">
  <img src="assets/clamshell.jpg">
  <p>Not shiny, and clean: <span class="blue">recycle</span></p>
</div>

<div class="takeout">
  <img src="assets/clean-shiny.jpg">
  <p>Shiny and clean: <span class="blue">recycle</span></p>
</div>

<div class="clearing"></div>

<h3>Coffee cups (including Starbucks)</h3>
  <p>Technically, Starbucks paper and plastic cups, as well as lids, are recyclable, but signage in some Starbucks locations directs customers to throw them in the garbage. (We can only assume this is because Starbucks locations don’t have areas to empty and rinse cups; Starbucks didn’t return calls.) But outside Starbucks stores, you can ignore their signage.

<div class="takeout">
  <img src="assets/cup.jpg">
  <p>Clean paper cups (and sleeves): <span class="blue">recycle</span>
</div>

<div class="takeout">
  <img src="assets/metal-lid.jpg">
  <p>Clean lids: <span class="blue">recycle</span></p>
</div>

<div class="clearing"></div>

<h4>Other takeout items</h4>

<div class="item-table">
  <div class="items">
    <img src="assets/straws.jpg">
    <p>Straws: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/utinsils.jpg">
    <p>Plastic utensils: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/napkin.jpg">
    <p>Napkins: <span class="green">compost</span></p>
  </div>

  <div class="items">
    <img src="assets/fast-lid.jpg">
    <p>Plastic lids (3 inches wide): <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/cola-cup.jpg">
    <p>Paper cups: <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/chop.jpg">
    <p>Disposable chopsticks: <span class="green">compost</span></p>
  </div>

  <div class="items">
    <img src="assets/chips.jpg">
    <p>Chip bags: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/packets.jpg">
    <p>Condiment packets: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/condiments.jpg">
    <p>Condiment tubs: <span class="orange">garbage</span></p>
  </div>
</div>

  <h4>Household items</h4>

<div class="item-table">
  <div class="items">
    <img src="assets/foil.jpg">
    <p>Aluminum foil, clean: <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/foil-dirty.jpg">
    <p>Aluminum foil, dirty: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/carton.jpg">
    <p>Cartons with plastic spouts: <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/lid.jpg">
    <p>Aluminum foil, clean: <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/credit.jpg">
    <p>Aluminum foil, dirty: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/ziploc.jpg">
    <p>Cartons with plastic spouts: <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/bleach.jpg">
    <p>Bottles for cleaning chemicals: <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/motoroil.jpg">
    <p>Bottles for hazardous chemicals: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/caps.jpg">
    <p>Bottle caps: <span class="orange">garbage</span></p>
  </div>

  <div class="clearing"></div>

  <div class="items">
    <img src="assets/bulb.jpg">
    <p>Bottles for cleaning chemicals: <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/peanuts.jpg">
    <p>Bottles for hazardous chemicals: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/pill.jpg">
    <p>Bottle caps: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/corks.jpg">
    <p>Bottles for cleaning chemicals: <span class="blue">recycle</span></p>
  </div>

  <div class="items">
    <img src="assets/tea-bag.jpg">
    <p>Bottles for hazardous chemicals: <span class="orange">garbage</span></p>
  </div>

  <div class="items">
    <img src="assets/plastic-bag.jpg">
    <p>Bottle caps: <span class="orange">garbage</span></p>
  </div>
</div>

<div class="clearing"></div>

<h4>Other items you asked about:</h4>

<div class="bullet-list">
  <ul>
    <li>Cake frosting bags: <span class="orange">garbage</span> (or reuse)
    <li>Produce bags: <span class="orange">garbage</span> (or reuse)
    <li>Produce stickers: <span class="orange">garbage</span>
    <li>Dryer sheets: <span class="orange">garbage</span>
    <li>Diapers: <span class="orange">garbage</span>
    <li>Shredded paper: <span class="green">compost</span> (can be recycled if in long strips, not cross cut, and in a bag)
    <li>Paper towels covered with cleaners or hazardous chemicals: <span class="orange">garbage</span>
    <li>Hearing aid batteries: <span class="orange">garbage</span> (or bring to recycling location)
  </ul>
</div>

<div class="clearing"></div>
<p class="thanks">Special thanks to city employees Brett Stav, Marcia Rutan, Pat Kaufman, Amy Ryan, Tim Croll, and John Caputo for their help on this project.</p>

</responsive-child>

<script src="app.js"></script>
<% /*= t.include("partials/_adFoot.html"); */ %>
<%= t.include("partials/_workHere.html") %>

</body>
</html>
